.dockerignore
.editorconfig
.gitignore
.idea/
.npmignore
.travis.yml
*.log
docker-compose.yml
Dockerfile
Jenkinsfile
node_modules/
scripts/
test/
thumbs.db
tsconfig.json
tslint.json
yarn.lock
package-lock.json
